/* fonts from google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*----------- 
Default designs 
-------------*/

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* navbar design */
nav {
  background-color: #2d25a0;
  width: 100%;
  color: white;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul {
  margin-top: 42px;
  margin-left: 144px;
}
nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.login-form {
  text-decoration: none;
  width: 123px;
  margin-top: 42px;
  margin-right: 124px;
  color: white;
  font-size: 16px;
  padding: 10px 24px;
  font-weight: 500;
  background-color: #e02c6d;
  text-align: center;
}
.login-form a{
  padding-left: ;
}
.fas {
  margin-right: 6px;
}
/* ----------------
first section design
------------------- */
.first-container {
  background-color: #2d25a0;
}
.flexible-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 70px;
  width: 100%;
  justify-content: center;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width h1 {
  font-size: 55px;
  color: white;
  /* margin-top: 121px; */
  margin-left: 105px;
}
.half-width img {
  width: 90%;
  margin-top: 67px;
  padding-left: 0%;
  margin-bottom: 86px;
}
.first-image{
  padding: 0%;
}
.link-button {
  text-decoration: none;
  font-size: 16px;
  padding: 10px 40px;
  width: 168px;
  height: 24px;
  color: white;
  font-weight: 500;
  background-color: #e02c6d;
  margin-left: 104px;
}
.link-button a {
  margin-left: 8px;
}
.link-button:hover{
  transform: scale(1.1);
}
.fas fa-arrow-right {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
/* player-container design from here */
.player-container {
  margin-left: 195px;
  margin-right: 195px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 45px;
}
.player {
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 40px #acacac;
}
.player-image img {
  width: 300px;
  height: 256px;
  margin: 15px;
}
.player-details {
  margin: 16px;
  margin-top: 0;
}
.player-details h3 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 10px;
}
.player-info {
  font-style: 100;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #6c6c6c;
  margin-top: 0;
  margin-bottom: 33px;
}
/* ---------------
Highlights part design 
----------------------*/
.highlight-container{
  margin-bottom: 0%;
  margin-top: 50px;
}
.highlights-details h1{
  color: black;
  font-size: 48px;
  margin-left: 0%;
  margin-bottom: 0%;
}
.highlights-details p{
  margin-top: 0%;
  margin-bottom: 20px;
  width: 404px;
}
.highlights-details{
  padding-left: 10%;
}
.image-match{
  padding-left: 0%;
}
.link-after{
  margin-left: 0;
}
/* ---------------------
Blogs work from here 
----------------------*/
.blogs-container{
  margin-left: 100px;
  margin-right: 80px;
}
.blogs-container h1{
  font-size: 50px;
  margin-top: -10px;
}
.blogs{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  align-items: center;
}
.blog-banner img{
  width: 80%;
}
.blog-info h3{
  font-size: 25px;
  margin-top: 0;
}
.blog-info p{
  margin-bottom: 0;
}
.blog-info h3:hover{
  cursor: pointer;
}
/* ---------------
Photo gallery section 
--------------------*/
.photo-gallery{
  width: 1200px;
  height: 540px;
  margin-left: 77px;
  margin-bottom: 200px;
}
.photo-gallery h1{
  color: black;
  font-size: 48px;
  margin-left: 0%;
  margin-bottom: 30px;
}
.photos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 20px;

}
.photos img{
  width: 100%;
}
.photo-1 img{
  height: 258px;
}
.photo-4 img{
  height: 254px;
}
/* ------------
Footer design 
----------------*/
.logo img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.social-menu ul {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 10px;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #741c1c;
  font-size: 20px;
  transition: 0.5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #1877f2;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #1da1f2;
}
.social-menu ul li:nth-child(3) a:hover {
  background-image: linear-gradient(#7232bd, #f46f30, #ffdc7d);
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #ff0000;
}
footer p{
  text-align: center;
  margin-top: 50px;
}

/* --------Responsive design(Media Query) --------
-------------------------------------------*/
@media only screen and (max-width:688px){
  /* ----------------
  Header or navbar is only applicable for pc or dekstop size.
  So there will be no navbar in any other devices. 
  -------------------------------------------*/
  header{
    display: none;
  }
  .flexible-container{
      width: 100%;
      display: block;
  }
  .first-container{
    padding: 0;
    margin: 0;
  }
  .player{
      flex-direction: column;
      margin-right: 10px;
      justify-content: center;
      height: 492px;
  }
  .players{
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
  }
   .half-width{
     width: 100%;
     padding-left: 0%;
   }
  .half-width h1 {
    font-size: 30px;
    color: white;
    margin-left: 10px;
    margin-top: 0%;
  }
  .half-width img {
    width: 90%;
    margin: ;
    padding-left: 0%;
  
  }
  .first-image{
    padding: 0%;
  }
  .link-button {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 40px;
    width: 168px;
    height: 24px;
    color: white;
    font-weight: 500;
    background-color: #e02c6d;
    margin-left: 10px;
  }
  .link-button a {
    margin-left: 2px;
  }
  .photo-gallery{
    width: 100%;
    height: 540px;
    margin-left: 0%;
    margin-bottom: 1400px;
  }
  .photo-gallery h1{
    color: black;
    font-size: 48px;
    margin-left: 0%;
  }
  .photos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 20px;
  }
  .photos img{
    width: 100%;
    margin-left: 5px;
  }
  .photo-1 img{
    height: 258px;
  }
  .photo-4 img{
    height: 254px;
  }
  .footer-container{
    display: block;
  }
  .blogs{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 24px;
    align-items: center;
  }
  .blogs-container{
    margin-left: 15px;
    margin-right: 8px;
  }
  .blogs-container h1{
    font-size: 50px;
    margin-top: -10px;
    margin-left: 0%;
  }
  .blog-banner img{
    width: 80%;
  }
  .blog-info h3{
    font-size: 25px;
    margin-top: 0;
  }
  .blog-info p{
    margin-bottom: 0;
  }
  .highlight-container{
    margin-bottom: 0%;
    margin-top: 50px;
  }
  .highlights-details h1{
    color: black;
    font-size: 40px;
    margin-left: 0%;
    margin-bottom: 0%;
  }
  .highlights-details p{
    margin-top: 0%;
    margin-bottom: 20px;
    width: 340px;
  }
  .highlights-details{
    padding-left: 2%;
  }
  .link-after{
    margin: 0%;
  }
  .logo img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}